@page
@model IndexModel
@{
    ViewData["Title"] = "Home";

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using littleTokyo.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<div class="text-center mt-3">
    <h1 class="display-4">Welcome To Little Tokyo</h1>
    <h2 class="display-6">Visit the wonders of Japan through food</h2>
</div>
<div class="d-flex flex-column flex-xl-row justify-content-xl-between justify-content-center mt-5 row">
   @*    <div class="col-xl-6 col-12">
            <img src="CO5227/img/sushi-homepage.jpg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
       </div>
       <div class="col-xl-6 col-12">
        <img src="CO5227/img/dumpling-soup.jpeg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
       </div>
       <div class="col-12">
        <img src="CO5227/img/food-on-plates.jpeg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
       </div>*@
    <div class="col-xl-6 col-12">
        <img src="/img/sushi-homepage.jpg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
    </div>
    <div class="col-xl-6 col-12">
        <img src="/img/dumpling-soup.jpeg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
    </div>
    <div class="col-12">
        <img src="/img/food-on-plates.jpeg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
    </div>
</div>


