@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-3">
    <h1 class="display-4">Welcome To Little Tokyo</h1>
    <h2 class="display-6">Visit the wonders of Japan through food</h2>
</div>
<div class="d-flex flex-column flex-xl-row justify-content-xl-between justify-content-center mt-5">
    <img src="img/sushi-homepage.jpg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
    <img src="img/dumpling-soup.jpeg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
    <img src="img/food-on-plates.jpeg" alt="picture of sushi" class="imgs mx-auto my-3 border-0 d-block">
</div>