@page
@model littleTokyo.Pages.Menus.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Editing</h1>

<h4 class="text-center">Menu Item</h4>
<hr />
<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Menu.ID" />
            <div class="form-group mb-2">
                <label asp-for="Menu.itemName" class="control-label"></label>
                <input asp-for="Menu.itemName" class="form-control" />
                <span asp-validation-for="Menu.itemName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Menu.itemDesc" class="control-label"></label>
                <input asp-for="Menu.itemDesc" class="form-control" />
                <span asp-validation-for="Menu.itemDesc" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Menu.itemPrice" class="control-label"></label>
                <input asp-for="Menu.itemPrice" class="form-control" />
                <span asp-validation-for="Menu.itemPrice" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Menu.category" class="control-label"></label>
                <input asp-for="Menu.category" class="form-control" />
                <span asp-validation-for="Menu.category" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Menu.ImageDescription" class="control-label"></label>
                <input asp-for="Menu.ImageDescription" class="form-control" />
                <span asp-validation-for="Menu.ImageDescription" class="text-danger"></span>
                <div class="mb-2">
                    Upload Image: <br />
                    <input type="file" id="file1"
                           name="file1"
                           class="pb-3 form-control-file" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
                <a asp-page="../Menus/Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
     
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
